<div class="header">
    <img src="../../../assets/img/utodocs-logo.svg" alt="brand image">
    <a routerLink="/home">{{ appName }}</a>
    <a routerLink="/home" routerLinkActive="{{ setActiveClass() }}">HOME</a>
    <a routerLink="/docs" routerLinkActive="{{ setActiveClass() }}">DOCUMENTATION</a>
    <a routerLink="/contribute" routerLinkActive="{{ setActiveClass() }}">CONTRIBUTE</a>
    <a routerLink="/blog" routerLinkActive="{{ setActiveClass() }}">BLOG</a>
    <a href="https://github.com/lucianrica/utodocs" target="_blank"></a>
</div>