<app-topnav></app-topnav>

<div class="contribute-grid">

    <div class="space-ship">

        <img class="contribute-img" src="../../../assets/img/rocket-lunch.gif" alt="">
    </div>


    <div class="markdown">

        <h1>Contribute</h1>
        <p>
            The way a team plays as a whole determines its success. You may have the greatest bunch of individual stars
            in the world, but if they don’t play together, the club won’t be worth a dime. (Babe Ruth)
        </p>
        <p>
            The people who want to contribute to utodocs should do so for the love of open source, our users and
            ecosystem, and most importantly, pushing the web forward together. Because we support Open Collective model
            and transparency across products, we want to funnel support through contributors and free software for projects
            or core teams using utodocs automation.
        </p>

        <h2>How Can I Help?</h2>
        <p>
            Anybody can help by doing any of the following:
        </p>
        <ul>
            <li>Ask your employer to use utodocs in projects.</li>
            <li>Help us write and maintain the content on this site.</li>
            <li>Contribute to the core repository.</li>
            <li>Encouraging Employers</li>
        </ul>

        <h2>Developers</h2>
        <p>
            The biggest core feature we'd like to provide is an enjoyable development experience. Developers like you
            can help by contributing to rich and vibrant documentation, issuing pull requests to help us cover niche use
            cases, and to help sustain what you love about utodocs
        </p>

        <h2>Anyone Else</h2>
        <p>
            To anyone else who is interested in helping our mission – e.g. venture capitalists, government entities,
            digital agencies, etc. – we would love for you to work with us to improve our and your
            product! Please don't hesitate to reach out with questions.
        </p>

        <h2>Encouraging Employers</h2>
        <p>
            You can ask your employer to improve your workflow by leveraging utodocs: an all-in-one tool for documents
            optimization, and markdown conversion. Explain to them how utodocs will attempt to bundle your documents and
            markdown the best it can, building a production gradle web app containing the latest updates to your
            documents, leading to speedier development and acurate documentation.
        </p>

        <h2>Your Contributions</h2>
        <p>
            Contributing to utodocs is not contributing to an exclusive club. You as a developer are contributing to the
            overall health of downstream projects. Hundreds, if not thousands, of projects depend on acurate
            documentation and contributing will make the ecosystem better for all of us.
            <br>
            <br>
            The remainder of this section of the site is dedicated to developers such as yourself who would like to
            become a part of our ever-growing community:
        </p>

        <h2>Pull requests</h2>
        <p>
            Documentation of utodocs features and changes is now being updated as utodocs evolves. When a feature gets
            merged, an issue with a documentation request is created in our repository and we expect to resolve it in a
            timely manner. This means that there are features, changes and breaking changes awaiting to be documented,
            reviewed and released. That said, if Pull Request's author is abandoning it for more than 30 days, we may
            mark such Pull Request as stale. We may take over the work that is needed to finish it. If Pull Request
            author grants write access to their fork to the utodocs Documentation team we will commit directly to your
            branch and finish the work. In other cases, we may have to start over by ourselves or by delegating it to
            willing community members. This may render your Pull Request redundant and it might get closed as a part of
            the cleanup process.
        </p>

    </div>
    <div></div>
</div>