@import "../../node_modules/prismjs/themes/prism.css";
@import "../../node_modules/prismjs/themes/prism-okaidia.css";

:root {
  --primaryBlue: #2b3a42;
  --primaryWhite: #fff;
  --hoverBlue: rgba(141, 214, 249, 0.35);
  --primarySubHeader: #f2f2f2;
}

*,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: calc(100vw - (100vw - 100%));
  overflow-x: hidden;
  font: 400 16px "Source Sans Pro", -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica, Arial, sans-serif;
  color: #2b3a42;
  overflow-y: scroll;
  background: #f3f3f3;
}

a,
ul li {
  text-decoration: none;
  list-style: none;
}

a:hover {
  cursor: pointer;
}

@font-face {
  font-family: "Source Serif Pro";
  src: local("Source Serif Pro"),
    url(../assets/fonts/SourceSans/SourceSansPro-Regular.ttf) format("truetype");
}

.markdown p {
  font-family: "Source Serif Pro", ui-serif, Georgia, Cambria, Times New Roman,
    Times, serif;
  line-height: 1.8em;
}

.markdown h1,
.markdown h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 200;
  line-height: 1.8em;
}

.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  color: #32434a;
  display: block;
  font-weight: 400;
  line-height: 1.4;
  margin: 0 0 0.25em;
  word-break: break-word;
  margin-top: 36px;
}

.markdown h1 {
  font-size: 33.1776px;
  margin-top: 36px;
}

.markdown h2 {
  font-size: 27.648px;
}

.markdown p {
  margin: 16px 0;
  /* text-align: justify; */
}

.markdown ul li {
  list-style: disc;
}

.markdown ul {
  padding-left: 30px;
  /* line-height: 30px; */
}

.markdown a {
  color: #42b0ce;
}
.markdown a:hover {
  font-weight: 600;
}

.markdown div.warning {
    background-color: #fdf5d8;
    border-left-color: #f3c316;
    color: #716b53;
}
.markdown div.warning {
    border-left-style: solid;
    border-left-width: 3px;
}

.markdown pre {
    background-color: hsla(0,0%,93.3%,.35);
    background-color: #2b3a42;
    border-radius: 3px;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 8px 16px;
}
