<app-topnav></app-topnav>

<div class="blog-grid">
    <div class="view">
        <div class="plane main">
            <img src="../../../assets/img/clock-png.webp" class="circle" style="opacity: 0.2;" />
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <!-- <img src="../../../assets/img/clock-png.webp" class="circle" style="opacity: 0.2;" /> -->
        </div>
    </div>
    <div class="markdown">
        <h1>The Quantum Leap</h1>
        <p>
            Quantum Leap is an American science-fiction television series, created by Donald P. Bellisario, that
            originally aired on NBC for five seasons, from March 25, 1989 through May 5, 1993. It stars Scott Bakula as
            Dr. Sam Beckett, a physicist who leaps through spacetime during experiments in time travel, by temporarily
            taking the place of other people to correct what he believes were historical mistakes.
        </p>
        <p>
            He is thrown back in time and, on gaining consciousness, finds that while he physically exists in the past,
            he appears to everyone else as a person that he had "leapt" into. successfully correcting the past, Sam
            continues to leap randomly to another place and time within the second half of the 20th century, putting
            things right that once went wrong and hoping each time that his next leap will be the leap home. (Cerone,
            Daniel, 1990).
        </p>
        <p>
            It may sound strange but this is the best explanation that I could find explaining what automation concept
            is trying to achieve. We, the developers, are going back in time to find past software mistakes and correct
            those mistakes. Although it's not possible to phisically go back in time, we travel with the mind leaping
            into another developer/user shoes and try to understand where the mistake is and how to fix it.
        </p>
        <p>
            When paired
            with technology, human error is a leading cause of accounting mistakes and in succesfully correcting the
            past we have to put thing right by applying automation and remove human input, hoping that next leap will
            takes us home, to a present time where we develop new features instead of fixing bugs.
        </p>

        <h2>When we should apply automation</h2>
        <p>
            Scouring the internet for information about automation I have found two rulles which lies close to my
            hearth, and I would like to add one from my own believes
        </p>

        <ul>
            <li>1.
                The first rule of any technology used in a business is that automation applied to an efficient operation
                will magnify the efficiency. (Bill Gates)
            </li>
            <li>2.
                The second rule is that automation applied to an inefficient operation will magnify the inefficiency.
                (Bill Gates)
            </li>
            <li>3.
                The third rule is that automation applied to operations which are greatly enjoyed by people will
                magnify drops in people motivation. (My Own)</li>
        </ul>
        <p>
            Let us understand the three rules above. The first rule tells us that we can apply an automation processes
            to operations that are well proven and known to deliver business value. Spending time and effort into
            consolidating the operation with an automated process will only increase efficiency of the operation itself
            as automated tasks tend to be robust in terms of delivering the same level of service and quality.
        </p>
        <p>
            The second rule tells us that if we apply an automation process to an operation which is already struggling
            to deliver business value and the level of the service is doubtful, the automation will only increase
            inefficiency as the customer is not recieving what he espected in the first place and the developing team
            has an extra burden needing to fix not only the operation but the automation as well.
        </p>
        <p>
            The third rule which is my own tells us to keep business operations which cause joy among staff and
            customers alike, if customers enjoy having a daily conversation with businesses employess and this step is
            removed and automated it will only decrease motivation for cutomers to interact with the business.
        </p>

        <h2>Why utodocs document automation</h2>
        <p>
            The project is giving developers the ability to replace the manual task of gathering and assembling
            documentation using y,x,z softwares, publish and share with the development team. Utodocs automation keeps
            the documentation itself with the source-code base making if more conveniant for developers to write, read
            and preserve one source of truth for the documentation.
        </p>
        <p>
            Documents are available to developers with their own
            application source-code, every-time and more beautiful is that the documentation can be viewed with each
            pull-request giving developers more transparencey into what the pull-request creator was thinking when the
            code was build or changed. But not everyone deals with the same code-base, although it is used to build the
            same system, hence utodocs will build and deploy the documentation without any developer intervention to a
            cloud of choice.
        </p>
        <p>
            With utodocs the document build process of an application can be used ny anyone at no matter stage in
            joining the team. Any developer can start contributing to the documentation with zero effort in learning the
            platform, you just worry about your writing.
        </p>



    </div>
    <div></div>
</div>