<app-topnav></app-topnav>

<div class="blog-grid">
    <div class="view">
        <div class="plane main">
            <img src="../../../assets/img/clock-png.webp" class="circle" style="opacity: 0.2;" />
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <!-- <img src="../../../assets/img/clock-png.webp" class="circle" style="opacity: 0.2;" /> -->
        </div>
    </div>
    <div class="markdown">
        <h1>The Quantum Leap</h1>
        <p>
            Quantum Leap is an American science-fiction television series, created by Donald P. Bellisario, that
            originally aired on NBC for five seasons, from March 25, 1989 through May 5, 1993. It stars Scott Bakula as
            Dr. Sam Beckett, a physicist who leaps through spacetime during experiments in time travel, by temporarily
            taking the place of other people to correct what he believes were historical mistakes.
        </p>
        <p>
            He is thrown back in time and, on gaining consciousness, finds that while he physically exists in the past,
            he appears to everyone else as a person that he had "leapt" into. successfully correcting the past, Sam
            continues to leap randomly to another place and time within the second half of the 20th century, putting
            things right that once went wrong and hoping each time that his next leap will be the leap home. (Cerone,
            Daniel, 1990).
        </p>
        <p>
            It may sound strange but this is the best explanation that I could find explaining what automation concept
            is trying to achieve. We, the developers, are going back in time to find past software mistakes and correct
            those mistakes. Although it's not possible to phisically go back in time, we travel with the mind leaping
            into another developer/user shoes and try to understand where the mistake is and how to fix it.
        </p>
        <p>
            When paired
            with technology, human error is a leading cause of accounting mistakes and in succesfully correcting the
            past we have to put thing right by applying automation and remove human input, hoping that next leap will
            takes us home, to a present time where we develop new features instead of fixing bugs.
        </p>

        <h2>When we should apply automation</h2>
        <p>
            Scouring the internet for information about automation I have found two rulles which lies close to my
            hearth, and I would like to add one from my own believes
        </p>

        <ul>
            <li>1.
                The first rule of any technology used in a business is that automation applied to an efficient operation
                will magnify the efficiency. (Bill Gates)
            </li>
            <li>2.
                The second rule is that automation applied to an inefficient operation will magnify the inefficiency.
                (Bill Gates)
            </li>
            <li>3.
                The third rule is that automation applied to operations which are greatly enjoyed by people will
                magnify drops in people motivation. (My Own)</li>
        </ul>
        <p>
            Let us understand the three rules above. The first rule tells us that we can apply an automation processes
            to operations that are well proven and known to deliver business value. Spending time and effort into
            consolidating the operation with an automated process will only increase efficiency of the operation itself
            as automated tasks tend to be robust in terms of delivering the same level of service and quality.
        </p>
        <p>
            The second rule tells us that if we apply an automation process to an operation which is already struggling
            to deliver business value and the level of the service is doubtful, the automation will only increase
            inefficiency as the customer is not recieving what he espected in the first place and the developing team
            has an extra burden needing to fix not only the operation but the automation as well.
        </p>
        <p>
            The third rule which is my own tells us to keep business operations which cause joy among staff and
            users alike. For as long as I can remember, I have set a high goal, taken the necessary steps to achieve
            the goal, and reveled in my success and feelings of self-mastery. Whithout the self-discovery,
            self-actualization and the realizing of my spiritual self we will feel like machines and most likely treat
            the job as a job.
        </p>

        <h2>Doing, a quantum leap from imagining</h2>
        <p>
            Short-term success is common, even if you know how to choose the right test automation tools for each role
            in your organization.
        </p>
        <p>
            It's not that hard to write a little code to exercise a system. The problem comes 6 to 12 months later, when
            a test run takes hours, the test environment and results get flaky, and the programmers change the expected
            behavior of the system, transforming the nature of the tool from automation to change detection.
        </p>
        <p>
            Success in automation is less about getting it right and more about avoiding mistakes that let costly
            defects get through—and even small bugs can have big consequences. Eventually, someone has to write the
            code. Even if the record/playback tool claims to be codeless, sooner or later your software will produce
            dates that need to be compared to today's date and formatted, and you'll need to drop down into some kind of
            code editor. The person writing the code is probably not a professional programmer, but even were that so,
            it is tempting to focus more on getting the code done than on doing it well.
        </p>


        <h2>Putting right what I made wrong</h2>
        <p>
            There is no right way to do automation, but there are certainly some wrong ones. "Quick wins" may be cheap
            and easy, but not when they result in a system that is expensive, or even impossible, to maintain. Worse, it
            could create extra delayed feedback loops between programmers and business operations.
        </p>
        <p>
            Instead of jumping into driving the pipeline, take a step back. Look at the layers of the application. See
            what
            processes are actually repetitive and how much time you'd save by automating them.
        </p>
        <p>
            Review your playbook for automation and pick something that could give you a big win for small effort.
            Engage the programmers to create a solution for the entire team. Mind the speed of feedback, focus on things
            that add speed but not drag, avoid the worst of the mistakes, and you'll probably be OK.
        </p>



        <button (click)="scrollToTop()" class="scroll-to-top" *ngIf="pageYoffset > 0">
            Back To Top
        </button>
    </div>
    <div></div>
</div>