<app-topnav></app-topnav>


<div class="call-to-action-div">
    <p class="call-to-action-msg">Reserve time for the things you love, automate the rest</p>
</div>
<div class="bike">
    <div class="bike__cloud-1"></div>
    <div class="bike__cloud-2"></div>
    <div class="bike__cloud-3"></div>
    <div class="bike__bike">
        <div class="bike__wheel">
            <div class="bike__needle"></div>
            <div class="bike__needle"></div>
            <div class="bike__needle"></div>
        </div>
        <div class="bike__wheel">
            <div class="bike__needle"></div>
            <div class="bike__needle"></div>
            <div class="bike__needle"></div>
        </div>
        <div class="bike__down-tube"></div>
        <div class="bike__tubes">
            <div class="bike__chain"></div>
            <div class="bike__seat-stays"></div>
            <div class="bike__chain-stays"></div>
            <div class="bike__seat-tube"></div>
            <div class="bike__star">
                <div class="bike__pedal"></div>
            </div>
            <div class="bike__seat"></div>
        </div>
        <div class="bike__top-tube"></div>
        <div class="bike__fo"></div>
        <div class="bike__head-tube"></div>
        <div class="bike__helm"></div>
        <div class="bike__lock"></div>
    </div>
    <div class="bike__man">
        <div class="bike__arm">
            <div class="bike__forearm">
                <div class="bike__hand"></div>
            </div>
            <div class="bike__sleeve"></div>
        </div>
        <div class="bike__back-leg">
            <div class="bike__shin">
                <div class="bike__skin"></div>
                <div class="bike__ked"></div>
            </div>
        </div>
        <div class="bike__butt"></div>
        <div class="bike__front-leg">
            <div class="bike__shin">
                <div class="bike__skin"></div>
                <div class="bike__ked"></div>
            </div>
        </div>
        <div class="bike__shirt">
            <div class="bike__collar"></div>
        </div>
        <div class="bike__arm">
            <div class="bike__forearm">
                <div class="bike__hand"></div>
            </div>
            <div class="bike__sleeve"></div>
        </div>
        <div class="bike__head">
            <div class="bike__eye"></div>
            <div class="bike__eye"></div>
            <div class="bike__whisker"></div>
            <div class="bike__nose"></div>
            <div class="bike__month"></div>
            <div class="bike__whisker"></div>
            <div class="bike__cap">
                <div class="bike__peak">
                    <div class="bike__peak-parts"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home-page-grid">
    <div></div>
    <div class="home-content">{{ Prism.highlightAll() }}

        <h1>Write Your Code</h1>

        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="home-utodocs-sample">
            <div id="content">

                <div class="one"><b>JAVA</b></div>
                <div class="two"><b>javascript</b></div>
                <div class="three"><b>C#</b></div>
                <div class="four"><b>CSS</b></div>
                <div class="five"><b>your choice really</b></div>

            </div>

            <pre><code>





    Utodocs doesn't change the way you plan,
    or add any annotations to your source-code
    or impact coding in any way.

    It is simply an additional workspace where 
    developers can collaborate and build documentation 
    alongside your source-code.

            </code></pre>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Test Your Code</h1>

        <br>
        <br>
        <br>
        <br>
        <br>
        <pre style="max-width:750px; margin: 0 auto;"><code class="language-javascript">
console.log(`
    Same principle as before applies, utodocs does not intefere with 
    unit testing, bug detection or any other testing practice. It's the
    next step in the workflow
`)
        </code></pre>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Document Your Code</h1>

        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="home-utodocs-sample">

            <pre><code>

             
## You write markdown 

This is where things get interesting, you
provide me with the description of your application
functionality, can even provide me with the code...


```javascript
   console.log("my log")
```

same as writing a markdown file and utodocs will
transform, build and publish a production 
gradle web application containing 
your updated version of the **documentation**


            </code></pre>

            <pre><code class="language-html">
&lt;h2&gt;Utodocs makes HTML&lt;\h2&gt;
&lt;p&gt;
   This is where things get interesting, you
   provide me with the description of your application
   functionality, can even provide me with the code...
&lt;\p&gt;</code>    
<code class="language-javascript">console.log("my log")</code><code class="language-html">
&lt;p&gt;
   same as writing a markdown file and utodocs will
   transform, build and publish a production 
   gradle web application containing 
   your updated version of the &lt;\b&gt;documentation&lt;\b&gt;
&lt;\p&gt;</code>

</pre>
                

        </div>

        <br>
        <br>
        <br>
        <br>
        <div class="markdown">

            <aside class="tip">
                <h6 class="tip__prefix">the automation</h6>
                <p>Utodocs is provided and executed as a step within the development pipeline which automatically builds and
                    publishes the latest version of your documentation along side youre code. The documentation 
                    itself will be transformed into an exact replica of this angular web-app and published to 
                    a cloud provider of choice. Learn more about utodocs <a routerLink="/docs">here</a>.</p>
            </aside>
        </div>
        <p class="home-step-info"></p>
    </div>
    <div></div>

</div>
