<div class="footer">
    <div class="footer-content">

        <img src="../../../assets/img/utodocs-logo.svg" alt="brand image">
            <!-- <a routerLink="/docs">get started</a> -->
        
        <div>
            <p>Disclaimer, September/May 2021</p>
    <p>This project was developed by Lucian Nechita as part of the final project assessment for BSc (Hons) in Computing (Software Development Stream) at National College of Ireland. For further information contact National College of Ireland at <a href="https://www.ncirl.ie/" target="_blank" style="color: rgb(36, 162, 167); text-transform: lowercase; font-weight: 700;">https://www.ncirl.ie</a></p>
    <p>The information and views set out in this report are those of the author(s) and do not necessarily reflect the official opinion of the National College of Ireland. Neither the National College of Ireland institution and bodies nor any person acting on their behalf may be held responsible for the use which may be made of the information contained therein.</p>
    
        </div>
    </div>
    
</div>
<br>
<br>
