.footer {
    height: 64px;
    text-align: center;
    border-top: 5px double #2b3a421f; 
    background: #f3f3f3;
}

.footer-content {
    display: grid;
    grid-template-columns: 200px 1fr;
    max-width: 980px;
    margin: 10px auto;
}

.footer p {
    font-size: 8px;
    text-transform: uppercase;
    align-self: center;
    text-align: left;
    padding: 5px 0;
}

.footer div a {
    font-size: 9px;
    text-transform: uppercase;
    color: rgb(85, 85, 85);
    align-self: center;
}

.footer img {
    background: #333;
    width: 75px;
    align-self: center;
    justify-self: center;
    
}
